@font-face {
  font-family: TTCommons-Regular;
  src: url("/fonts/TypeType - TT Commons Regular.otf") format("opentype");
}

@font-face {
  font-family: TTCommons-DemiBold;
  src: url("/fonts/TypeType - TT Commons DemiBold.otf") format("opentype");
}

@font-face {
  font-family: TTCommons-Bold;
  src: url("/fonts/TypeType - TT Commons Bold.otf") format("opentype");
}

* {
  font-family: TTCommons-Regular;
}

a {
  text-decoration: none;
  outline: none;
}

input:focus {
  outline: none;
}

.noselect {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;

  margin: 0;
}
