@font-face {
  font-family: TTCommons-Regular;
  src: url("/fonts/TypeType - TT Commons Regular.otf") format("opentype");
}

@font-face {
  font-family: TTCommons-DemiBold;
  src: url("/fonts/TypeType - TT Commons DemiBold.otf") format("opentype");
}

@font-face {
  font-family: TTCommons-Bold;
  src: url("/fonts/TypeType - TT Commons Bold.otf") format("opentype");
}

a {
  text-decoration: none;
  outline: none;
}

body {
  font-family: TTCommons-Regular;
}

.intro {
  line-height: 1;
  text-align: center;
  color: #ffffff;
  min-height: 1140px;
  /* display: flex;
  flex-direction: column;
  justify-content: flex-start; */
  align-items: center;
  padding-top: 100px;

  background-image: url("/site/images/intro-background.png");
  background-color: #19081e;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.intro-text {
  margin-top: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.intro-mobile {
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
  min-height: 650px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 140px;
  padding-top: 60px;
}

.intro h1 {
  font-family: TTCommons-Bold;
  /* font-size: 7rem; */
  line-height: 1;

  font-size: 150px;
  color: #ffffff;
  letter-spacing: -4.62px;
  text-align: center;
  line-height: 150px;
}

.intro h3 {
  font-family: TTCommons-Bold;
  font-size: 3.4rem;
  line-height: 1;
  color: #ffffff;
  letter-spacing: -2px;
  text-align: center;
}

.intro p {
  margin-top: 15px;
  margin-bottom: 35px;
  font-family: TTCommons-Regular;
  /* font-size: 1.2rem; */

  font-size: 24px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
}

.intro-logo {
  width: 280px;
  margin-bottom: 120px;
}

@media only screen and (max-width: 500px) {
  .intro-logo {
    width: 220px;
  }

  .intro p {
    font-size: 1.2rem;
    line-height: 25px;
  }
}

.cta-button {
  padding-left: 85px;
  padding-right: 85px;
  padding-top: 28px;
  padding-bottom: 20px;
  font-family: TTCommons-DemiBold;
  font-size: 19px;
  color: #ffffff;
  cursor: pointer;
  border-radius: 5px;
  background-color: transparent;
  background-image: linear-gradient(256deg, #ff22b2, #ac55c7 51%, #4594e1);
  border-style: none;
  border-color: transparent;
}

@media only screen and (max-width: 500px) {
  .cta-button {
    width: 85%;
    padding-left: 15px;
    padding-right: 15px;
    padding-top: 20px;
    padding-bottom: 14px;
    /* 
    margin-left: 10%;
    margin-right: 10%; */
  }
}

.cta-a-full-width {
  width: 100%;
}

.intro-video-container {
  z-index: 1;
  position: relative;
  top: -100px;
  padding-left: 10%;
  padding-right: 10%;
  display: flex;
  justify-content: center;
}

.intro-video-image {
  width: 100%;
  max-width: 1050px;
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  /* cursor: pointer; */

  border-radius: 5px;
  box-shadow: 0 20px 17.5px -15px rgba(0, 0, 0, 0.17);

  background-image: url("/site/images/video.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
}

.intro-video-image a {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.clickable-image {
  transform: scale(1);
  transition-property: all;
  -webkit-transition-property: all;
  transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-timing-function: ease-out;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-property: all;
  -moz-transition-duration: 0.2s;
  -moz-transition-timing-function: ease-out;
}

.clickable-image:hover {
  transform: scale(1.02);
  transition-property: all;
  -webkit-transition-property: all;
  transition-duration: 0.2s;
  -webkit-transition-duration: 0.2s;
  transition-timing-function: ease-out;
  -webkit-transition-timing-function: ease-out;
  -moz-transition-property: all;
  -moz-transition-duration: 0.2s;
  -moz-transition-timing-function: ease-out;
}

@media only screen and (max-width: 1500px) {
  .intro-video-image {
    height: 520px;
  }
}

@media only screen and (max-width: 1300px) {
  .intro-video-image {
    height: 480px;
  }
}

@media only screen and (max-width: 1200px) {
  .intro-video-image {
    height: 410px;
  }
}

@media only screen and (max-width: 1000px) {
  .intro-video-image {
    height: 350px;
  }
}

@media only screen and (max-width: 700px) {
  .intro-video-image {
    height: 300px;
  }
}

@media only screen and (max-width: 575.98px) {
  .intro-video-image {
    height: 240px;
  }
}

@media only screen and (max-width: 500px) {
  .intro-video-image {
    height: 200px;
  }
}

.intro-video-image img {
  width: 100px;
  height: 100px;
}

.as-seen-in {
  margin-top: -60px;
  text-align: center;
  max-width: 1400px;
}

.as-seen-in p {
  font-family: TTCommons-Regular;
  font-size: 1.2rem;
  text-align: center;
  color: #9e9e9e;
}

.as-seen-in .img-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 0;
  padding-right: 0;
}

.as-seen-in img {
  width: 100%;
}

.explained-section {
  margin-top: 100px;
}

.explained-col {
  display: flex;
  margin-bottom: 90px;
}

.explained-col .explained-img-container {
  padding-right: 20px;
  flex: 1;
}

.explained-col img {
  /* max-width: 48px; */
  max-height: 60px;
  height: auto;
  width: auto;
  object-fit: contain;
}

.explained-col .info-text {
  flex: 8;
  display: flex;
  flex-direction: column;
  /* margin-left: 20px; */
}

.explained-col h3 {
  display: inline;
  font-family: TTCommons-DemiBold;
  font-size: 2rem;
  color: #000000;
}

@media only screen and (max-width: 990px) {
  .explained-col h3 {
    font-size: 1.5rem;
  }

  .explained-col .explained-img-container {
    padding-right: 10px;
    flex: 1;
  }

  .explained-col img {
    width: 60px;
    height: auto;
    object-fit: contain;
  }
}

.explained-col p {
  display: inline;
  font-family: TTCommons-Regular;
  font-size: 1rem;
  color: #979797;
}

.testimonial-section {
  margin-top: 60px;
}

.testimonial-col {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonial-col img {
  width: 100%;
  height: auto;
}

.testimonial-col .text {
  font-family: TTCommons-DemiBold;
  font-size: 1.1rem;
  padding: 40px;
  background-color: #ffffff;
  width: 90%;
  height: auto;
  position: relative;
  top: -70px;
}

@media only screen and (max-width: 575.98px) {
  .testimonial-col .text {
    font-family: TTCommons-Regular;
    top: 0px;
    padding: 0px;
    padding-top: 15px;
    width: 100%;
    margin-bottom: 10px;
    color: #979797;
  }
}

.testimonial-col .text .author {
  font-family: TTCommons-DemiBold;
  font-size: 0.9rem;
  color: #979797;
}

.testimonial-col .text .author .company {
  font-family: TTCommons-Regular;
}

.blog-section {
  margin-top: 120px;
}

.blog-col {
  /* padding-right: 25px;
  padding-left: 25px; */
}

.blog-col img {
  width: 100%;
  height: auto;
}

.blog-col h3 {
  margin-top: 20px;
  font-family: TTCommons-DemiBold;
  font-size: 1.4rem;
}

.blog-col p {
  font-family: TTCommons-Regular;
  font-size: 1rem;
  color: #979797;
}

.blog-col a {
  text-decoration: none;
  color: black;
}

.blog-section .more {
  margin-top: 25px;
  text-align: center;
}

a {
  font-family: TTCommons-DemiBold;
  font-size: 1.35rem;
  color: #ff20b1;
}

a:hover {
  text-decoration: none;
  color: #ff20b1;
}

.team-background {
  background-image: url("/site/images/logo-background.png");
  /* background-size: contain; */
  background-color: #fafafa;
  background-repeat: no-repeat;
  background-position: top center;
  padding-top: 60px;
  padding-bottom: 140px;
  margin-top: 100px;
}

.team-section {
  margin-top: 80px;
}

.team-section h2 {
  font-family: TTCommons-DemiBold;
  font-size: 1.85rem;
  text-align: center;
  margin-bottom: 60px;
}

.team-col {
  padding: 20px;
}

.team-panel {
  box-shadow: 5px 5px 12px 0 rgba(0, 0, 0, 0.09);
  border: solid 0.5px #e9e9e9;
  background-color: #ffffff;
}

.team-panel img {
  width: 100%;
  height: auto;
}

.team-panel p {
  padding-left: 25px;
  padding-top: 30px;
  font-family: TTCommons-DemiBold;
  font-size: 1.1rem;
}

.team-panel p .role {
  font-family: TTCommons-Regular;
  font-size: 0.9rem;
  color: #867e8d;
}

@media only screen and (max-width: 575.98px) {
  .team-background {
    background-image: none;
    padding-top: 0px;
    padding-bottom: 40px;
    margin-top: 100px;
  }

  .team-col {
    padding: 10px;
  }

  .team-panel {
    box-shadow: none;
    border: none;
    background-color: #ffffff;
  }

  .team-section h2 {
    font-size: 2rem;
  }

  .team-panel p {
    padding-left: 0px;
    padding-top: 10px;
  }
}

.footer-section {
  padding-top: 100px;
  padding-bottom: 60px;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #19081e;
  background-image: url("/site/images/footer-background.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.footer-section p {
  font-family: TTCommons-DemiBold;
  font-size: 1rem;
  color: #ffffff;
  max-width: 640px;
  margin-bottom: 40px;
}

.footer-logo {
  margin-top: 20px;
  margin-bottom: 20px;
}

.footer-section .policies a {
  margin-top: 20px;
  text-transform: capitalize;
  font-size: 0.9rem;
  color: #ffffff;
  font-family: TTCommons-Regular;
}

.footer-section .footer-copyright {
  font-family: TTCommons-Regular;
  font-size: 0.7rem;
  color: #ffffff;
  text-transform: uppercase;
  opacity: 0.5;
}

/***** Modal *****/

.modal-backdrop.in {
  filter: alpha(opacity=7);
  opacity: 0.7;
}

.modal-content {
  background: none;
  padding: 0;
  border: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border-radius: 0;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.modal-body {
  padding: 0;
  margin: 0;
}

.modal-header {
  padding: 0px;
  text-align: right;
}

.modal-header,
.modal-footer {
  border: 0;
}

.modal-dialog-video {
  padding: 0px;
  /* margin: 0px; */
}
/* 
#modal-video {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
} */

.modal-header .close {
  float: none;
  margin: 0;
  font-size: 36px;
  color: #fff;
  font-weight: 300;
  text-shadow: none;
  opacity: 1;
}

/* BLOG POST */

.blog-header {
  padding-top: 40px;
}

@media only screen and (max-width: 575.98px) {
  .blog-header {
    padding-top: 20px;
  }
}

.blog-header img {
  width: 220px;
}

.blog-intro {
  /* border-style: solid; */
}

.blog-intro .back {
  font-family: TTCommons-DemiBold;
  color: #ff20b1;
  margin-top: 40px;
  text-align: left;
  font-size: 1rem;
}

.blog-intro .back img {
  width: 16px;
  margin-right: 8px;
  margin-bottom: 3px;
}

.blog-intro h1 {
  font-family: TTCommons-Bold;
  font-size: 3rem;
  margin-top: 40px;
}

.blog-intro .author {
  font-family: TTCommons-DemiBold;
  font-size: 0.9rem;
  margin-top: 10px;
  color: #b3b3b3;
  text-transform: uppercase;
}

.blog-intro .intro-text {
  font-family: TTCommons-Regular;
  font-size: 1.1rem;
  margin-top: 20px;
  color: #979797;
}

.short-divider {
  width: 30px;
  height: 4px;
  background-image: linear-gradient(260deg, #ff22b2, #ac55c7 51%, #4594e1);
}

.blog-post-image {
  margin-top: 10px;
  margin-bottom: 10px;
  width: 100%;
  height: auto;
}

.blog-section {
  margin-bottom: 60px;
}

.blog-section h1 {
  font-family: TTCommons-DemiBold;
  font-size: 3.2rem;
  margin-bottom: 70px;
}

.blog-section h2 {
  font-family: TTCommons-DemiBold;
  font-size: 2.2rem;
  margin-bottom: 70px;
}

.blog-section p {
  font-family: TTCommons-Regular;
  font-size: 1rem;
  color: #979797;
}

.footer-share {
  text-align: center;
  margin-bottom: 40px;
}

.footer-share p {
  font-family: TTCommons-Regular;
  font-size: 0.9rem;
  color: #cecece;
}

.footer-share a {
  text-decoration: none;
}

.footer-share img {
  width: 50px;
  margin-right: 3px;
  margin-left: 3px;
}

.blog-footer {
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;

  background-color: #000000;
  background-image: none;
}
